<form [formGroup]="searchForm">
    <mat-form-field floatLabel="never">
        <input autoFocus matInput type="search" placeholder="Search for books to add to your list"
            formControlName="term" />
        <button type="submit" mat-icon-button matSuffix aria-label="Search" (click)="searchBooks()"
            (keyup.enter)="searchBooks()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>

<div class="book-grid" *ngIf="books.length; else empty">
    <mat-card *ngFor="let book of books">
        <mat-card-title-group>
            <mat-card-title> {{ book.title }}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <div class="book--content">
                <div class="book--content--cover">
                    <img src="{{ book.coverUrl }}" alt="book cover" />
                </div>
                <div class="book--content--info">
                    <div><strong>Author:</strong> {{ book.authors.join(',') }}</div>
                    <div><strong>Publisher:</strong> {{ book.publisher }}</div>
                    <div>
                        <strong>Published:</strong> {{ formatDate(book.publishedDate) }}
                    </div>
                    <p [innerHTML]="book.description"></p>
                    <div>
                        <button mat-flat-button color="warn" data-testing="add-book-button" (click)="addBook(book)">
                            Want to Read
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #empty>
    <div class="empty">
        <p>
            Try searching for a topic, for example "Angular"
        </p>
    </div>
</ng-template>