<mat-drawer-container class="app-container" [hasBackdrop]="true">
  <mat-drawer-content>
    <header class="app-toolbar">
      <mat-toolbar color="primary">
        <span>NGXS Books</span>
        <button mat-button [routerLink]="['']">Books</button>
        <button mat-button [routerLink]="['about']">About</button>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          (click)="drawer.toggle()">
          <mat-icon>format_list_bulleted</mat-icon>
          <app-book-count class="counter"></app-book-count>
        </button>
      </mat-toolbar>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-drawer-content>

  <mat-drawer #drawer mode="over" position="end">
    <div class="book-list-container">
      <h3>
        My Books (<app-book-count></app-book-count>)
        <button mat-icon-button (click)="drawer.close()" data-testing="reading-close">
          <mat-icon>close</mat-icon>
        </button>
      </h3>
      <div class="book-list-content">
        <app-my-books></app-my-books>
      </div>
    </div>
  </mat-drawer>

</mat-drawer-container>